.form-group{
    width: 15cm;

    align-items: center;

    margin-bottom: 10px;

}

.form-group{

    flex-basis: 100px;

    text-align: right;

    margin-right: 10px;

}

h2{

    color: red;

}

#hono{

    color: red;

    text-align: left;

}





form {

    width: 50%;

}

.nav-box {

  border: 3px solid rgb(239, 237, 237);        

  padding: 10px;                

  background-color: #f3f4f5;  

  height: 32cm;  

  width: 20cm;            

  margin: 50px auto;            

  text-align: center;

  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0,0,0,0.1);

 

}



body {



    background-size: cover;



}

#start{

    text-align: left;

}

#star{

    color: red;

}

#state{

    width: 170px;

   

}

#country{

    width: 170px;

}


